@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Prompt:wght@500&family=Quicksand:wght@500&display=swap');

.CardContainer-light {
  box-shadow: 0 0 300px 1px blue;
  left: -4rem;
  top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px solid;
  border-radius: 10%;
  border-color: rgb(38, 38, 177);
  height: 45vh;
  width: 20vw;
  justify-content: space-evenly;
  background-color: rgb(161, 201, 225);

  img {
    height: 15vh;
    border-radius: 60%;
  }

  &-title {
    font-family: 'Prompt', sans-serif;
    font-size: 1.5em;
  }

  &-text {
    margin: .5em;
    font-family: 'Quicksand', sans-serif;
    color: rgb(88, 85, 85);
    text-align: center;

    font-size: 1.3em;
  }

  &-button {
    font-family: 'Quicksand', sans-serif;
    height: 2.2em;
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
  }

}

.CardContainer-dark {
  box-shadow: 0 0 300px 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px solid;
  border-radius: 10%;
  border-color: rgb(177, 40, 38);
  height: 45vh;
  width: 20vw;
  justify-content: space-evenly;
  background-color: rgb(131, 34, 34);
  
  img {
    height: 15vh;
    border-radius: 60%;
  }

  &-title {
    font-family: 'Prompt', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0); ;
  }

  &-text {
    margin: .5em;
    font-family: 'Quicksand',
      sans-serif;
    color:
      rgb(208, 190, 190);
    text-align: center;
    font-size: 1.3em;
  }

  &-button {
    font-family: 'Quicksand', sans-serif;
    height: 2.2em;
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
  }

}