@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Prompt:wght@500&display=swap');

.ExperienceComponent-dark {
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


  //height: 50em;
  &-text {

    display: flex;
    color: #ffffff;
    flex-direction: column;
    //justify-content: flex-start;
    align-items: start;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    width: 35vw;

    &-1 {
      font-size: 3em;
    }

    &-2 {
      color: red;
      font-size: 3em;
    }

    &-description {
      width: 35vw;
    }

    &-div {
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-button {
        background: linear-gradient(180deg, #bd3030 26.71%, rgb(177, 40, 38) 99.36%);
        border: none;
        border-radius: 34px;
        box-shadow: 0 5px 24px 3px red;
        color: #fff;
        font-size: 16px;
        padding: 11px 26px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: linear-gradient(180deg, white 26.71%, white 99.36%);
          border: solid 1px;
          color: red;
          font-family: 'Prompt', sans-serif;
        }

      }
    }
  }

  &-img {
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    //height: 70vh;
    img {
      height: 3em;
    }

    &-jsMix {
      width: 35vw;
      display: flex;
      justify-content: space-evenly;

      &-js {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }

      &-ts {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 4em;
        }
      }
    }

    &-reactMix {
      width: 35vw;
      display: flex;
      justify-content: space-evenly;

      &-react {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }

      &-redux {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }
    }

    &-arduinoMix {
      width: 35vw;
      display: flex;
      justify-content: space-evenly;

      &-cpp {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }

      &-arduino {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }
    }
  }
}

.ExperienceComponent-light {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //height: 50em;
  &-text {
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    align-items: start;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    width: 35vw;

    &-1 {
      font-size: 3em;
    }

    &-2 {
      font-size: 3em;
      color: blue;
    }

    &-description {
      width: 35vw;
    }

    &-div {
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-button {
        background: linear-gradient(180deg, #bd3030 26.71%, rgb(177, 40, 38) 99.36%);
        border: none;
        border-radius: 34px;
        box-shadow: 0 5px 24px 3px red;
        color: #fff;
        font-size: 16px;
        padding: 11px 26px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: linear-gradient(180deg, white 26.71%, white 99.36%);
          border: solid 1px;
          color: red;
          font-family: 'Prompt', sans-serif;
        }

      }
    }
  }

  &-img {
    height: 60vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      height: 3em;
    }

    &-jsMix {
      width: 35vw;
      display: flex;
      justify-content: space-evenly;

      &-js {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }

      &-ts {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 4em;
        }
      }
    }

    &-reactMix {
      width: 35vw;
      display: flex;
      justify-content: space-evenly;

      &-react {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }

      &-redux {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }
    }

    &-arduinoMix {
      width: 35vw;
      display: flex;
      justify-content: space-evenly;

      &-cpp {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }

      &-arduino {
        height: 8em;
        width: 8em;
        border: 3px solid;
        border-color: grey;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 5em;
        }
      }
    }
  }
}