@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Prompt:wght@500&display=swap');
.ServicesComponent-dark {
  height: 80vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

  //height: 50em;
  &-text {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    //justify-content: flex-start;
    align-items: start;
    font-family:'Prompt', sans-serif;
    font-weight: bold;

    &-1 {
      font-size: 3em;
    }
    
    &-2 {
      color: red;
      font-size: 3em;
    }

    &-description {
      width: 30em;
    }
  }

  &-cards {
    position: relative;
    
   
    &-fe{
      position: relative;
      bottom:-4em;
      left: 8rem;
    }
    &-iot{
      position: relative;
       bottom: -7em;
       left: -20em;
    //  margin-top: 50em;
    }
  }
}

.ServicesComponent-light {
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //height: 50em;
  &-text {
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    align-items: start;
    font-family:'Prompt', sans-serif;
    font-weight: bold;

    &-1 {
      font-size: 3em;
    }

    &-2 {
      font-size: 3em;
      color: blue;
    }

    &-description {
      width: 30em;
    }
  }

  &-cards {
    position: relative;
    
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    &-fe{
      
      position: relative;
      bottom:-8em;
      left: 8rem;
      // animation: 1s ease-out 0s 1 slideInFromLeft;
      // padding: 30px;
    }
    &-iot{
      position: relative;
        bottom: -7em;
       left: -15em;
    //  margin-top: 50em;
    }
  }
}